
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finding Perfect Apartment</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet" type="text/css">

    <!--link rel="stylesheet" href="add_js.css"-->
    <link  href="/static/css/style.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">
  -->


  </head>

  <body>

    <div class="container">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="home">Project Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="apartmentFinder">Find an Apartment </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="apartmentRecommender">Recommend Me! </a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Project Overview</h3>
      </header>

      <main role="main">
        <div class="jumbotron" style="background-image:url(/static/other/apt_bck2.png); height=100px;opacity: 0.9;">
            <h1 class="mb-1">APARTMENT FINDER</h1>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
          <h3 class="mb-1">INTRODUCTION</h3>
            Finding an apartment as international students can be challenging especially when they are new to the area or even country.
            There are many factors to be considered when choosing an apartment such as rent, location, safety, closeness to public transportation or grocery store.
            Searching for this information can be overwhelming and to those who are new to the country they might not even know where to start.
            <br /> <br />
            The aim of this project is to provide an elegant solution to summarizing those information to the simplest possible form which enable users to make decision
            on which apartment to choose from.


          <br /> <br />
          <h3 class="mb-1">DATASETS</h3>
          The datasets were scrapped from many different sources:
            <li><a href="https://www.boilerapartments.com/browse/Purdue-University/">Apartment listing</a></li>
            <li><a href="https://moto.data.socrata.com/dataset/West-Lafayette-Police-Dept/meth-bc52">Crime Data</a></li>
            <li><a href="http://myride.gocitybus.com/public/laf/google/google_transit.zip">Public Transportation</a></li>
            <li><a href="http://myride.gocitybus.com/public/laf/google/google_transit.zip">Yelp</a></li>

          <br />
          <h3 class="mb-1">METHODOLOGY</h3>
          <li>Web Scrapping</li>
          <li>PCA and clustering</li>
          <li>D3.js</li>
          <li>Heroku</li>
          <li>Flask</li>



      </main>

      <footer class="footer">
        &copy; Ellen Wongso - <a href="https://www.thedataincubator.com/">TDI</a> Capstone Project Winter 2018
      </footer>

    </div> <!-- /container -->
  </body>
  <!--Load the google map-->
  
</html>
